footer {
  width: 100%;
  height: 40px;
  // background-color: #06786180;
  background: linear-gradient(to right,
      rgba(2, 98, 107, 0.5) 0%,
      rgba(9, 172, 167, 0.5) 69%,
      rgba(8, 192, 158, 0.5) 80%,
      rgba(12, 154, 158, 0.5) 100%);

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}