.infos {
  height: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  max-width: 1100px;
  margin: auto;

  button {
    font-size: 1.8em;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    color: #08c19d;
    border-color: #08c19d;
    width: 140px;
    height: 70px;
    transition: all 0.5s;
    box-shadow: 1px 1px 1px #08c19d;

    &:hover {
      color: white;
      background-color: #08c19d;
      cursor: pointer;
    }
  }
}

@media screen and (min-width:850px) {
  .infos {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width:1200px) {
  .infos {
    justify-content: space-between;

    button {
      font-size: 2em;
      width: 150px;
      height: 80px;
    }
  }
}