.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 15px;

  .head {
    font-size: 1.7em;
    letter-spacing: 5px;
    text-shadow: 1px 1px 2px black;
  }

  .toggle {
    * {
      transition: transform 0.3s;
    }

    .line {
      display: block;
      width: 25px;
      height: 2px;
      background-color: #231815;
      margin-bottom: 5px;
    }
  }

  .toggle.open {
    :nth-child(1) {
      transform: rotate(45deg) translateX(1px) translateY(1px);
      margin: 0;
    }

    :nth-child(2) {
      transform: rotate(-45deg);
    }

    :nth-child(3) {
      display: none;
    }

  }

  .body {
    display: none;
    width: 100%;
    position: absolute;
    top: 74px;
    left: 0px;
    z-index: 1;
    background-color: white;

    .item {
      height: 45px;
      font-size: 1.2em;
      display: flex;
      align-items: end;
      justify-content: center;
      padding-bottom: 5px;
      transition: background-color 0.3s;
    }

    .item:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width:1199px) {
  .navbar {
    padding-top: 5px;

    .body {
      &.open {
        display: flex;
        flex-direction: column;
      }

      .item {
        border-bottom: 1px solid #d7d7d7 !important;
      }
    }

  }
}

@media screen and (min-width:1200px) {
  .navbar {
    width: 1140px;
    height: 100px;
    margin: auto;

    .toggle {
      display: none;
    }

    .body {
      display: flex;
      width: 840px;
      position: relative;
      top: 0;

      .item {
        width: 120px;
      }
    }
  }

}